.name_font{
	font-family: sans-serif;
}
.bookname{
	padding-left: 55px;
}
body{
	background-image: url("LoginDetails1/assets/img/background/1.jpg");
}
.skills_align{
	padding-left: 40px;
}
.left{
	width: 50%;	
	display: inline-block;
}
.right{
	width: 50%;
	float: right;
	display: inline-block;
	align-content: right;
	
	margin-top: 0px;
}
.full{
	width: 100%;
}
.detail_container{
	width: 90%;
	height: 60px;
	padding-left: 50px;
	align-content: center;
}
