{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Bragging Area</title>
{% endblock %}

{% block body %}
<div class="site-wrapper">
  

    <div class="container lead mb-7">
        <br>
        <h1 align="center">Time for a brief Introduction</h1>
        <br>

    <h3 class="lead mb-7" style="word-break: break-word">
        We want development to be fun and add a competitive touch to it, and what can be better than teaming up with the
        fellas of your own University? <br> <br>

        We want to bring every talented engineers/students/developers who have immense potential but do not have any
        project ideas to work on and get experienced in. Not just that, we also made this website Open Source so that
        even developers/students can learn how things work at Industrial level. <br><br>

        Create your own projects, make a team, divide the workload and build exciting projects right here at NSP - where
        ideas come to life!<br><br>

        Well, this website was never intended to be launched as it was just a learning project for Pratik and Rishi.
        After days of Googling, Stackoverflow , Ctrl+C and Ctrl+V, this is the best we could come up with. <br><br>

        Prachal, the sole FrontEnd Developer of the team sat hours understanding the templates he copied, fortunately he
        did. <br><br>

        This was our brief introduction. It's time for you to connect with the developers around the globe and start
        working on your own projects. Your profile page will be your introduction to the world, make sure to make it
        worth watching. <br><br>
    </h3>
    </div>
    </div>
{% endblock %}
