{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Change Password</title>
    {% endblock %}

</head>
<body>

    {% block body %}
        <center>
        <div class="container" style="padding-top: 120px; background-color: rgba(255,255,255,0.6); width: 900px;">
            <form method="POST" style="padding-bottom: 20px;">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
        </center>
    {% endblock %}

</body>
</html>