{% extends 'base.html' %}
{% load static %}
{% block head %}
        <title>Start a Project</title>
{% endblock %}
{% block body %}
    {% if project_registered %}
    <h1 class="container">Thank you for Starting a Project!</h1>
    {% else %}
        <div class="text-center" style="background-color: rgba(255,255,255,0.8);border-radius:50px;margin-top:50px;padding-top:10px;padding-bottom:10px;">

            <h1 align="center">Describe your Project</h1>
            <div class="container">
            <center>
            <form id="user_form" method="post">
                <table border = "1">
                {% csrf_token %}
                {{ project_form }}
                </table>
                <button type="submit" name="submit" value="Register" class="btn btn-success">Get Started!</button>
            </form>
            </center>
            </div>
        </div>
    {% endif %}
{% endblock %}