{% extends 'base.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <head>
        <title>{{ user.first_name }}</title>
    </head>
{% endblock %}
{% block body %}
    <div class="site-wrapper" style="margin-top:75px;">

        <center>
            <div class="container" style="padding-top: 120px; background-color: rgba(255,255,255,0.6); width: 900px;">
                <form method="POST" style="padding-bottom: 20px;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-success">Change</button>
                </form>
            </div>
        </center>

    </div>


{% endblock %}
