{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
<title>NSP</title>
<% endblock %}
<head>
    {% block head %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    {% endblock %}
    <style type="text/css">
        body {
            font-family: 'Montserrat';
            width: 100%;
            height: 100%;
        }

        .hero-image {
            background-position: center;
            background-repeat: no-repeat;
            background-image: url({% static 'accounts/img/nspback.png' %});
            background-size: cover;
            height: 80vh;
            width: 99vw;
        }

        .footer {
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
        {#text-align: center;#}
        }

        .navbar {
            margin-bottom: 0px;
        }

        .no-margin {
            margin-top: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
        }

        .no-padding {
            color: rgba(144,);
            padding: 0px;
            padding-top: 0px;
        }

        .img-rounded {
            box-shadow: 0 10px 16px 0 rgba(47, 141, 189, 0.1), 0 10px 16px 0 rgba(47, 141, 189, 0.1);
        }

        .but {
            font-size: 30px;
            margin-left: 36%;
            margin-top: 5%;
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 2px solid #ccc;
            margin: 1em 0;
            padding: 0;
        }
    </style>

</head>
<div>
    {% block body %}
        <nav class="navbar navbar-inverse" style="color: white;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="padding: 15px; font-size: 30px;" href="#">NSP</a>
                </div>
                <div class="navbar-collapse collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <form class="navbar-form navbar-left" style="padding-top: 3px;" role="search" method="post"
                              action="{% url 'search' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" placeholder="Search by Skill/Utility" name="srh"
                                       class="form-control">
                            </div>
                            <button type="submit" class="btn btn-trasparent" style="background-color: grey;">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                    </ul>
                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav">
                            <!-- Do not fucking forget the / -> the forward slash -->
                            <li><a href="{% url 'view_profile' %}" class="glyphicon glyphicon-user"></a></li>
                            <li><a href="{% url 'edit_profile' %}" class="glyphicon glyphicon-edit"></a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <!-- Do not fucking forget the / -> the forward slash -->
                            <li><a href="{% url 'start_project' %}">Start Project</a></li>
                            <li><a href="{% url 'change_password' %}">Change Password</a></li>
                            <li><a href="{% url 'logout' %}" class="glyphicon glyphicon-off"></a></li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Register</a>
                            </li>
                            <li><a href="{% url 'user_login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="hero-image no-margin">
        </div>
        <div class="container-fluid no-padding" style="color: white;">
            <div class="no-margin" style="background-color: rgb(47,141,189);width: 100vw;padding-top: 5px;">
                <center>
                    <p style="font-size: 35px;">THINK.GATHER.BUILD</p>
                </center>
                <div class="row">
                    <div class="col-lg-4 col-md-4 a " style="padding-top: 3vh;align-content: center;">
                        <center><img class="img-circle" src="{% static 'accounts/img/signup.png' %}" width="40%;">
                        </center>
                        <a href="{% url 'signup' %}">
                            <button class="btn btn-primary but">Sign Up</button>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 center-block" style="padding-top: 7vh;">
                        <center><img class="img-rounded" src="{% static 'accounts/img/aboutus.jpg' %}"></center>
                    </div>
                    <div class="col-lg-4 col-md-4 a"
                         style="padding-top: 3vh;align-content: center;padding-bottom: 4px;">
                        <center><img class="img-circle" src="{% static 'accounts/img/111loggin.png' %}" width="40%;">
                        </center>
                        <a href="{% url 'user_login' %}">
                            <button class="btn btn-primary but">Login</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3" style="text-align: center;background-color: white;">
                    <div class="jumbotron"
                         style="color:rgb(47,141,189);font-size: 50px;height:300px;text-align:center;padding-top: 40%">
                        <center>About Us</center>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9"
                     style="background-color: white;color: rgb(47,141,189);border-radius: 5px;">
                    <h1>To bring all the project developing enthusiasts under one platform.</h1>
                    <p style="font-size: 17px;">
                        We are just like every other project developing enthusiasts, and this website was carved out of
                        curiosity of what we can achieve if we can bring the best of skilled peoples Manipal University
                        Jaipur has; under one platform. Actually, THE PLATFORM, for starting projects and finding the
                        best of colleagues, seniors, and teachers for you to work along your side.
                        The major goal is to utilize the potential of those students who remain under the hoods and are
                        completely out of reach when anyone needs poeple like them for their project. Through "NSP", you
                        can search for any type of skill that you need for your project and you will find the perfect
                        match.
                        We believe "divide and conquer" is the best way we can solve any problem.
                        Divide in chunks, Work for hours, Complete in a breeze.
                    </p>
                </div>
            </div>
            <hr style="color: blue">
            <div class="row">
                <div class="col-lg-9 col-md-9" style="padding-top: 10px;font-size: 16px;color: rgb(47,141,189);">
                    <p>THE MOST SIMPLIFIED WEBSITE FOR SEARCHING THE SKILLED PEOPLES IN MUJ.<br>
                        SINGLE CLICK PROJECT CREATION.<br>
                        SEARCH USING SKILLS/PROJECT NAME.<br>
                        GET ALL THE RELEVANT DETAILS OF THE USER,including his contact no. for detailed interaction.<br>
                        ACHIEVE STARS WITH COMPLETION OF PROJECTS. MORE THE STARS, HIGHER YOUR RATING!<br>
                        EDIT PROFILE IN A GLANCE.<br>
                        SINGLE BUTTON LOGOUT.<br>
                        CONTACT US ANYTIME.
                    </p>
                </div>
                <div class="col-lg-3 col-md-3"
                     style="color: white;background-color:rgb(47,141,189);font-size:32px;padding-top:6%;height:230px;">
                    <center>Features</center>
                </div>
            </div>
        </div>
        <br>
        <div class="footer">
            <div class="row">
                <div class="col-lg-7 col-md-7" style="text-align: left; padding-right: 10px">
                    <p style="font-style: oblique">Email us at : nsp@gmail.com</p>
                    <p>Hosted At - PythonAnywhere</p>
                    <p>Beta VERSION 0.8</p>
                </div>
                <div class="col-lg-5 col-md-5" style="text-align: right; padding-left: 10px">
                    <p>Alpha Launching in May 2018</p>
                    <p>Think. Gather. Build.</p>
                </div>
            </div>
        </div>
    {% endblock %}
    <br>
</div>
</html>