{% extends 'base.html' %}
{% block body %}
<br>
<div class="container">
<center>
<table border="1" style="width: 100%; height: 100%; border-radius: 25px" cellspacing="10" cellpadding="10">
<tr>
    <td>Project Name</td>
    <td>Mentor Name</td>
    <td>Initiator</td>
    <td>Paid</td>
    <td>Branches Preferred</td>
    <td>Description (On Project Page)</td>
    <td>Published On</td>
    <td>People Interested</td>
    <td>Get In!</td>
</tr>
{% for project,people_insterested in projects_peopleInterested.items %}
    <tr>
    <td class="lead mb-7"><a href="{% url 'view_project_detail' project.id %}">{{ project.project_name }}</a></td>
    <td class="lead mb-7">{{ project.mentor_name }}</td>
    <td class="lead mb-7">{{ project.initiated_by }}TODO</td>
    <td class="lead mb-7">{% if project.paid %} Yes {% else %} {{ No }} {% endif %}</td>
    <td class="lead mb-7"><center>{{ project.branch }}</center></td>
    <td class="lead mb-7">{{ project.description }}</td>
    <td class="lead mb-7">{{ project.start_date }}</td>
    <td class="lead mb-7">
        <center>
            {% if people_insterested %}
                {{ people_insterested }}
            {% else %}
                0
            {% endif %}
        </center>
    </td>
    <td class="lead mb-7"><a class="btn btn-primary">Check</a></td>
    </tr>
{% endfor %}
</table>
</center>
</div>
<br><br>
{% endblock %}