{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Login to NSP</title>
        <style type="text/css">
  	  .footer {
  		position: fixed;
  		left: 0;
  		bottom: 0;
  		width: 100%;
  		background-color: black;
  		text-align: center;
  	}
      .navbar{
          border-radius: 0;
          padding-top: 0px;
      }
          body{
      background: url({% static 'accounts/black.jpg' %})
      {#color: white;#}

    }
          </style>
    </head>
    {% block body %}
    <body class="container">
        <h1>Login to the NSP</h1>

        <form id="login_form" method="post" action="/account/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br>
            Password: <input type="password" name="password" value="" size="50" />
            <br>
            <button class="btn btn-success">Login</button>
        </form>
    </body>
    {% endblock %}
</html>