{% extends 'base.html' %}

<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Login to NSP</title>
    </head>
    {% block body %}
    <body class="container">
        <h1>Login to the NSP</h1>

        <form id="login_form" method="post" action="/account/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br>
            Password: <input type="password" name="password" value="" size="50" />
            <br>
            <button class="btn btn-success">Login</button>
        </form>
    </body>
    {% endblock %}
</html>
