{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Login Page</title>
{% endblock %}

{% block customcss %}
<link href="{% static 'accounts/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
     <div class="container">

        {% if not user.is_authenticated %}
            <h1>Welcome</h1>
        <p>
            You can Login Here.
        </p>
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <button class="btn btn-success">Login</button>
        </form>
            {% else %}
            <p>You are already Logged In</p>
        {% endif %}
    </div>
{% endblock %}