{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>See you soon!</title>
{% endblock %}

{% block customcss %}
    <link href="{% static 'accounts/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="site-wrapper" style="margin-top:75px;">
        <br>
        <div class="container">
            <h1 class="lead mb-7">You have been Successfully Logged Out.<br>
                The Website is Open Source, you can contribute to the Project by adding new features, you think are
                missing.<br>
                The Github link of the Repository is <a href="https://github.com/rshrc/NSP">here</a>.

            </h1>
        </div>
        <footer class="footer panel-footer">
            <div style="text-align: center;" class="alert alert-warning">A Social Network that doesn't track you or your
                data. <br><br>Because we don't know how to do that xD
            </div>
        </footer>
    </div>
{% endblock %}
