{% extends 'base.html' %}

{% block body %}
<div class="container">

{% for people in users %}
    {% if people.is_superuser is False %}
    <li>
    <div class="content">
    <a href="{% url 'view_friend' people.username %}">{{ people.username }}</a>
    {% if viewer.is_superuser %}
    <p>Name : {{ people.first_name }} {{ people.last_name }} Ratings {{ people.userprofile.rating }}</p>
    {% else %}
    <p>Name : {{ people.first_name }} {{ people.last_name }} Ratings {{ people.userprofile.rating }}</p>
    {% endif %}
    </div>
    </li>
    {% endif %}
{% endfor %}

</div>
{% endblock %}