{% extends 'base.html' %}
{% block body %}

        <div style="margin: 0px;padding: 10px;" class="col-xl-12 offset-md-1">
        <div class="Order-list">
            <div class="card">
                <div class="card-header">
                     <h4>Other students</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-info"> <b>Hello {{ user.username|title }}, </b>Below are some random students!</div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td>Username</td>
                                    <td>Name</td>
                                    <td>Ratings</td>
                                </tr>
                            </thead>
                            <tbody>
                        {% for people in users %}
                        <tr>
                            <td><a href="{% url 'view_friend' people.username %}">{{ people.username }}</td></a>
                              <td>{{ people.first_name }} {{ people.last_name }}</td>
                              <td>{{ people.userprofile.ratings }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                    {% if not users %}
                        <h3 style="text-align:center;">There are no registered users to show!</h3>
                    {% endif %}
                    

                    <div style="text-align: center;" class="alert alert-warning">[Something here]</b>
                    </div>
                </div>
            </div>
        </div>
        <!-- ORDER LIST END-->
    </div>
{% endblock %}

