

{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'accounts/css/profiles.css' %}">
{% endblock %}
{% block body %}
<div class="container">
   <div class="card">
      <h1>{{ user.first_name }} {{ user.last_name }}</h1>
      <p>Hey, {{ user.username }}</p>
      {% if user.userprofile.photo %}
      <img src="{{ user.userprofile.photo.url }}" width="240">
      {% endif %}
      {% if user.userprofile.branch %}
      <p>Branch : {{ user.userprofile.branch }}</p>
      {% endif %}
      {% if user.userprofile.year %}
      <p>Year : {{ user.userprofile.year }}</p>
      {% endif %}
      <p>Rating : {{ user.userprofile.ratings }}</p>
      <div class="container">
         <a  class="btn btn-success" href="{% url 'addskill' %}" >Add Skill</a>
      </div>
      <form
         enctype="multipart/form-data"
         id="id_ajax_upload_form" method="POST"
         novalidate="">
         {% csrf_token %}
         {{ form.as_p }}
         <input type="submit" />
      </form>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript">
         // form upload
         $('#id_ajax_upload_form').submit(function(e){
             e.preventDefault();
             $form = $(this)
             var formData = new FormData(this);
             $.ajax({
                 url: window.location.pathname,
                 type: 'POST',
                 data: formData,
                 success: function (response) {
                     $('.error').remove();
                     console.log(response)
                     if(response.error){
                         $.each(response.errors, function(name, error){
                             error = '<small class="text-muted error">' + error + '</small>'
                             $form.find('[name=' + name + ']').after(error);
                         })
                     }
                     else{
                         alert(response.message);
                         window.location = ""
                     }
                 },
                 cache: false,
                 contentType: false,
                 processData: false
             });
         });
         // end
      </script>
   </div>
</div>
{% endblock %}

