{% extends 'base.html' %}
{% load static %}
{% block head %}
    <style type="text/css">
  	  .footer {
  		position: fixed;
  		left: 0;
  		bottom: 0;
  		width: 100%;
  		background-color: black;
  		text-align: center;
  	}
      .navbar{
          border-radius: 0;
          padding-top: 0px;
      }
          body{
      background: url({% static 'accounts/black.jpg' %})
      color: white;

    }
          </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>You can start a Project (Group/Personal) here. Click the button down below</h1>
        <button class="btn btn-success btn-block btn-upload">Start Project</button>
    </div>
{% endblock %}