{% extends 'base.html' %}

{% block body %}
    <div class="site-wrapper" style="margin-top:75px;">

        <div style="margin: 0px;padding: 10px;" class="col-xl-12 offset-md-1">
            <div class="Order-list">
                <div class="card">
                    <div class="card-header">
                        <h4><a href="{% url 'view_project_detail' project.id %}">{{ project.project_name|title }}</a> -
                            Solutions </h4>
                    </div>
                    <div class="card-body">
                        {% if status == "notaccepted" %}
                            <div class="alert alert-info"><b>Hello {{ user.username }}, </b>Below are the not Accepted
                                solutions of this project!
                            </div>

                        {% else %}
                            <div class="alert alert-info"><b>Hello {{ user.username }}, </b>Below are the {{ status }}
                                solutions of this project!
                            </div>
                        {% endif %}
                        <a class="btn btn-primary" href="{% url 'projectSolutions' project.id 'all' %}" role="button">All
                            solutions</a>
                        <a class="btn btn-primary" href="{% url 'projectSolutions' project.id 'open' %}" role="button">Open
                            solutions</a>
                        <a class="btn btn-primary" href="{% url 'projectSolutions' project.id 'accepted' %}"
                           role="button">Accepted solutions</a>
                        <a class="btn btn-primary" href="{% url 'projectSolutions' project.id 'notaccepted' %}"
                           role="button">Not accepted solutions</a>
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Solution ID</th>
                                    <th>Issue ID</th>
                                    <th>Title</th>
                                    <th>Created</th>
                                    <th>Opened</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for solution in solutions %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'viewIssueSolution' project.id 'solution' solution.id %}">#{{ solution.id }}
                                        </td>
                                        </a>
                                        <td>
                                            <a href="{% url 'viewIssueSolution' project.id 'issue' solution.issue.id %}">#{{ solution.issue.id }}
                                        </td>
                                        </a>
                                        <td>{{ solution.title }}</td>
                                        <td>{{ solution.date }}</td>
                                        <td>
                                            <a href="{% url 'view_friend' solution.user.username %}">{{ solution.user.username }}
                                        </td>
                                        </a>

                                        {% if solution.status == "0" %}
                                            </td>

                                            <td><span class="badge badge-pill badge-success"> Open </span></td>

                                            </tr>
                                        {% elif solution.status == "1" %}
                                            </td>

                                            <td><span class="badge badge-pill badge-success"> Accepted </span></td>

                                            </tr>
                                        {% elif solution.status == "2" %}
                                            </td>

                                            <td><span class="badge badge-pill badge-danger"> Not Accepted </span></td>

                                            </tr>
                                        {% endif %}
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        {% if not solutions %}
                            {% if status == "notaccepted" %}
                                <h3 style="text-align:center;">There aren't any not accepted solutions!</h3>
                            {% else %}
                                <h3 style="text-align:center;">There aren't any {{ status }} solutions!</h3>
                            {% endif %}
                        {% endif %}


                        <div style="text-align: center;" class="alert alert-warning">[Something here]</b>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ORDER LIST END-->
        </div>
    </div>

{% endblock body %}
