

{% extends 'base.html' %}
{% block body %}
<div class="container">
   <h1>Register</h1>
   <form method="post">
      {% csrf_token %}
       <div class="form-group">
    <label for="{{ form.username.id_for_label}}">Username : </label>
    <input name="username" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Choose an Username">
    <small id="emailHelp" class="form-text text-muted">It's like an User Handle in Twitter</small>
  </div>
       <br>
       <div class="form-group">
    <label for="{{ form.first_name.id_for_label}}">First Name : </label>
    <input name="first_name" type="text" class="form-control"  placeholder="Enter your First Name">

  </div>
       <br>
       <div class="form-group">
    <label for="{{ form.last_name.id_for_label}}">Last Name : </label>
    <input name="last_name" type="text" class="form-control"  placeholder="Enter your Last Name">

  </div>
       <br>

      <div class="form-group">
    <label for="{{ form.password1.id_for_label}}">Password : </label>
    <input name="password1" type="password" class="form-control"   placeholder="Password">
  </div>
       <br>

       <div class="form-group">
    <label for="{{ form.password2.id_for_label}}">Confirm Password : </label>
    <input name="password1" type="password" class="form-control"   placeholder="Confirm Password">
    <small id="emailHelp" class="form-text text-muted">Your Password is encrypted.</small>
  </div>
       <br>

       <button class="btn btn-success">Register</button>
   </form>
</div>
{% endblock %}

