{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
    </head>
    {% block body %}
    <body class="container">
    <div class="center align-center" style="align-items: center">
        <h1>SignUp</h1>

        {% if registered %}
        Team |n-s-p| : <strong>thank you for signing up!</strong>
        <a href="{% url 'home' %}">Return to the homepage.</a><br/>
        {% else %}
        <center>
        <form id="user_form" method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ user_form.as_p }}
            <!-- Provide a button to click to submit the form. -->
            <button type="submit" name="submit" value="Sign Up" class="btn btn-upload">Signup to NSP</button>
        </form>
        </center>
        {% endif %}
    </div>
    </body>
{% endblock %}
</html>