{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    {% block body %}
    <body class="container">
    <div class="center align-center" style="align-items: center">
        <h1>Registration</h1>

        {% if registered %}
        Team |n-s-p| : <strong>thank you for registering!</strong>
        <a href="/account/">Return to the homepage.</a><br/>
        {% else %}
        <center>
        <form id="user_form" method="post" action="/account/register/">
            {% csrf_token %}
            {{ user_form.as_p }}
            <!-- Provide a button to click to submit the form. -->
            <button type="submit" name="submit" value="Register" class="btn btn-upload">Register to NSP</button>
        </form>
        </center>
        {% endif %}
    </div>
    </body>
{% endblock %}
</html>