{% extends 'base.html' %}
{% load static %}
{% block head %}
    <style type="text/css">
  	  .footer {
  		position: fixed;
  		left: 0;
  		bottom: 0;
  		width: 100%;
  		background-color: black;
  		text-align: center;
  	}
      .navbar{
          border-radius: 0;
          padding-top: 0px;
      }
          body{
      background: url({% static 'accounts/black.jpg' %})
      {#color: white;#}

    }
          </style>
{% endblock %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% block body %}
<div class="container">
    <form method="post" action="/account/search/">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-lg-5">
                <input type="text" placeholder="Search by Skill/Name/Project" name="srh" class="form-control">
            </div>
            <label class="col-lg-2">
                <button type="submit" class="btn btn-success">Search</button>
            </label>
            </div>

    </form><br><br>
</div>
<!-- This Part is Total Crap! -->
<div>
    {% if messages %}
        <ul class="messages">
            {% for k in messages %}
            <li style="color: red">{{ k }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div><br>

{% if condition == 'person' %}
<div class="container">
<hr>
    {% for k in sr.all %}
        <div class="container-fluid">
        <p class="align-right" style="display: inline-block"> {{ k.first_name }} {{ k.last_name }}</p>
        </div>
        <hr>
    {% endfor %}
</div>
{% endif %}
{% if condition == 'project'%}
<div class="container">
    {% for k in sr.all %}
        <p>{{ k }}</p>
    {% endfor %}
</div>
{% endif %}
{% if condition == 'mentor'%}
<div class="container">
    {% for k in sr.all %}
        <p>{{ k }}</p>
    {% endfor %}
</div>
{% if condition == 'branch'%}
<div class="container">
    {% for k in sr.all %}
        <p>{{ k }}</p>
    {% endfor %}
</div>
{% if condition == 'search_fail'%}
<p style="color: rebeccapurple">no results found!!</p>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
