{% extends 'base.html' %}
{% load static %}
{% block customcss %}
    <link href="{% static 'accounts/css/main.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="site-wrapper" style="margin-top:75px;">

    <div class="container" style="margin-bottom:50px;">
        <form class="form-horizontal" role="form" method="POST"> {% csrf_token %}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Register New User</h2>
                    <hr>
                </div>
            </div>
            {% for error,message in form.errors.items %}
                <div class="alert alert-danger" role="alert">
                    {{ error }} {{ message }}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="name">First Name</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                            <input type="text" name="first_name" class="form-control" id="first_name"
                                   placeholder="First Name" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="name">Last Name</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                            <input type="text" name="last_name" class="form-control" id="last_name"
                                   placeholder="Last Name" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="name">Username</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                            <input type="text" name="username" class="form-control" id="name"
                                   placeholder="Username" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="email">E-Mail Address</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                            <input type="text" name="email" class="form-control" id="email"
                                   placeholder="you@example.com" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put e-mail validation error messages here -->
                        </span>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="number">Phone Number</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-phone"></i></div>
                            <input type="tel" name="number" class="form-control" id="number"
                                   placeholder="+91 xxxxxxxxxx" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                            <span class="text-danger align-middle">
                            </span>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="password">Password</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                            <input type="password" name="password1" class="form-control" id="password1"
                                   placeholder="Password" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="password">Confirm Password</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem">
                                <i class="fa fa-repeat"></i>
                            </div>
                            <input type="password" name="password2" class="form-control"
                                   id="password2" placeholder="Password" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <script src='https://www.google.com/recaptcha/api.js'></script>

                    <div class="g-recaptcha" data-sitekey="6LecWGIUAAAAAIhDloo19uN__VgZq8VXSNk3c2gs"></div>

                    <button type="submit" class="btn btn-success btn-block"><i class="fa fa-user-plus"></i> Register
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

<div class="limiter">
    <div class="">
        <div class="row">
            <div class="col-md-7">

                <h1 class="lead mb-7" style="word-break: break-word">Not here by mistake? <br>
                    Then Register to be a part of the Network of Skilled People.</h1>
            </div>
            <div class="col-md-3">

                <div class="wrap-login100">
             <span class="login100-form-title p-b-34 p-t-27">
                 Sign up
              </span>
                    {% for error,message in form.errors.items %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <form>
                        {% csrf_token %}
                        <div class="wrap-input100">
                            <input class="input100" type="text" name="username" placeholder="Username"
                                   id="username">
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>
                        <div class="wrap-input100">
                            <input class="input100" type="text" name="first_name" placeholder="First Name"
                                   id="first_name">
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>
                        <div class="wrap-input100">
                            <input class="input100" type="text" name="last_name" placeholder="Last Name"
                                   id="last_name">
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>
                        <div class="wrap-input100">
                            <input class="input100" type="email" name="email" placeholder="Email" id="email">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>
                        <div class="wrap-input100">
                            <input class="input100" type="password" name="password1" placeholder="Password"
                                   id="password1">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>

                        </div>
                        <span id="message" style="color:  white;"></span>

                        <div class="wrap-input100">
                            <input class="input100" type="password" name="password2" placeholder="Confirm password"
                                   id="password2">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>

                        </div>
                        <span id="message" style="color:  white;"></span>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Sign Up
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</div>
