{% extends 'base.html' %}
{% load static %}
{% block customcss %}
    <link href="{% static 'accounts/css/main.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="limiter">
        <div class="container-login100">
            <div class="row">
                <div class="col-md-7">

                    <h1 class="lead mb-7" style="word-break: break-word">Not here by mistake? <br>
                        Then Register to be a part of the Network of Skilled People.</h1>
                </div>
                <div class="col-md-3">

                    <div class="wrap-login100">
             <span class="login100-form-title p-b-34 p-t-27">
                 Sign up
              </span>
                        <form method="post" class="login100-form validate-form" onsubmit="return checkPass()">
                            {% csrf_token %}
                            <div class="wrap-input100">
                                <input class="input100" type="text" name="username" placeholder="Username"
                                       id="username">
                                <span class="focus-input100" data-placeholder="&#xf207;"></span>
                            </div>
                            <div class="wrap-input100">
                                <input class="input100" type="text" name="first_name" placeholder="First Name"
                                       id="first_name">
                                <span class="focus-input100" data-placeholder="&#xf207;"></span>
                            </div>
                            <div class="wrap-input100">
                                <input class="input100" type="text" name="last_name" placeholder="Last Name"
                                       id="last_name">
                                <span class="focus-input100" data-placeholder="&#xf207;"></span>
                            </div>
                            <div class="wrap-input100">
                                <input class="input100" type="email" name="email" placeholder="Email" id="email">
                                <span class="focus-input100" data-placeholder="&#xf191;"></span>
                            </div>
                            <div class="wrap-input100">
                                <input class="input100" type="password" name="password1" placeholder="Password"
                                       id="password1">
                                <span class="focus-input100" data-placeholder="&#xf191;"></span>

                            </div>
                            <span id="message" style="color:  white;"></span>

                            <div class="wrap-input100">
                                <input class="input100" type="password" name="password2" placeholder="Confirm password"
                                       id="password2">
                                <span class="focus-input100" data-placeholder="&#xf191;"></span>

                            </div>
                            <span id="message" style="color:  white;"></span>

                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn">
                                    Sign Up
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

