{% extends 'base.html' %}

{% load static %}

{% block body %}
  <br><br>
  <div class="container-fluid">
  <h1>ACM - Manipal University Jaipur</h1>
  Here NSP takes submissions for OC/CC/EC interviews for Technical Events
  <h3>You can submit your files here. (CV)</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button class="btn btn-success" type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
  </div>

{% endblock %}