{% extends 'base.html' %}
{% load static %}
{% block customcss %}
    <link rel="stylesheet" href="{% static 'accounts/css/team.css' %}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="{% static 'accounts/img/rishi.jpg' %}" alt="rshrc" style="width:100%">
                <div class="container">
                    <h2>Rishi Banerjee</h2>
                    <p class="title">Backend/Frontend Developer</p>
                    <p>Knows how to copy paste code.</p>
                    <p>rshrc404@gmail.com</p>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="{% static 'accounts/img/pratik.jpg' %}" alt="activator" style="width:100%">
                <div class="container">
                    <h2>Pratik Jain</h2>
                    <p class="title">Backend/Frontend Developer</p>
                    <p>Wanted to use Node.js, ended up doing it in Django</p>
                    <p>pratikjain0411@gmail.com</p>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="http://thensp.pythonanywhere.com/media/profile_image/dev1.jpg" alt="prachal03" style="width:100%">
                <div class="container">
                    <h2>Prachal Goyal</h2>
                    <p class="title">Frontend Developer/Designer</p>
                    <p>I dont know what I am doing! Ajax?</p>
                    <p>prachalgoyal03@gmail.com</p>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://avatars2.githubusercontent.com/u/24304449?s=460&v=4" alt="gjergj" style="width:100%">
                <div class="container">
                    <h2>Gjergj Kadriu</h2>
                    <p class="title">Backend/Frontend Developer</p>
                    <p>Our friend from Kosova, a brilliant coder</p>
                    <a href="https://github.com/gjergjk71">Check His Repos</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

