{% extends "base.html" %}
{% load static %}
{% block customcss %}
    <link href="{% static 'nspmessage/chatFriend.css' %}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet'
          type='text/css'>

{% endblock %}
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
<link rel='stylesheet prefetch'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
</head>
{% block body %}

    <div id="frame">
        <div id="sidepanel">
            <div id="profile">
                <div class="wrap">
                    {% if sender_user_profile.photo %}
                        <img id="profile-img" class="online" src="{{ sender_user_profile.photo.url }}">
                    {% else %}
                        <img id="profile-img" class="online" src="{% static 'accounts/img/nsp_profile_default.jpg' %}">
                    {% endif %}                <p style="margin-top: 10px;">
                    {% if request.user.first_name  and request.user.last_name %} {{ request.user.first_name }}
                        {{ request.user.last_name }}
                    {% else %} {{ request.user }}{% endif %}</p>
                    <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                    <div id="status-options">
                        <ul>
                            <li id="status-online" class="active"><span class="status-circle"></span>
                                <p>Online</p></li>
                            <li id="status-away"><span class="status-circle"></span>
                                <p>Away</p></li>
                            <li id="status-busy"><span class="status-circle"></span>
                                <p>Busy</p></li>
                            <li id="status-offline"><span class="status-circle"></span>
                                <p>Offline</p></li>
                        </ul>
                    </div>
                    <div id="expanded">
                        <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                        <input name="twitter" type="text" value="mikeross"/>
                        <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                        <input name="twitter" type="text" value="ross81"/>
                        <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                        <input name="twitter" type="text" value="mike.ross"/>
                    </div>
                </div>
            </div>
            <div id="search">
                <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                <input type="text" placeholder="Search contacts..."/>
            </div>
            <div style="margin-top:2px;" id="contacts">
                <ul>

                    {% for conversation in conversations.items %}
                        <!-- conversation.0 is friend user -->
                        <a href="{% url 'chatFriend' conversation.0 %}">
                            {% if conversation.0 == receiver %}
                                <li class="contact active">
                                    {% else %}
                                <li class="contact">
                            {% endif %}
                            <div class="wrap">
                                <span class="contact-status online"></span>
                                {% if conversation.1.profile.photo %}
                                    <img src="{{ conversation.1.profile.photo.url }}">
                                {% else %}
                                    <img src="{% static 'accounts/img/nsp_profile_default.jpg' %}">
                                {% endif %}
                                <div class="meta">
                                    <p class="name">{% if conversation.0.first_name and conversation.0.last_name %}
                                        {{ conversation.0.first_name }} {{ conversation.0.last_name }}
                                    {% else %} {{ conversation.0 }}{% endif %}</p>
                                    <p class="preview">{{ conversation.1.last_message }}</p>
                                </div>
                            </div>
                            </li>
                        </a>
                    {% endfor %}

                </ul>
            </div>
            <div id="bottom-bar">
                <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span
                        style="font-size: 15px">Add contact</span></button>
                <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span style="font-size: 15px">Settings</span>
                </button>
            </div>
        </div>
        <div class="content">
            <div class="contact-profile">
                <a href="{% url 'view_friend' receiver %}">
                    <li class="sent">
                        {% if receiver_user_profile.photo %}
                            <a href="{% url 'view_friend' receiver %}"><img src="{{ receiver_user_profile.photo.url }}"></a>
                        {% else %}
                            <a href="{% url 'view_friend' receiver %}"><img
                                    src="{% static 'accounts/img/nsp_profile_default.jpg' %}"></a>
                        {% endif %}
                        <p style="margin-top: 20px">{% if receiver.first_name  and receiver.last_name %}
                            {{ receiver.first_name }} {{ receiver.last_name }}
                        {% else %} {{ receiver }}{% endif %}</p>
                </a>
                <div class="social-media">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
            </div>
            <div class="messages">
                <ul>

                    {% for message in messages %}
                        {% if message.sender == request.user %}
                            <li class="sent">
                                {% if sender_user_profile.photo %}
                                    <img src="{{ sender_user_profile.photo.url }}">
                                {% else %}
                                    <img src="{% static 'accounts/img/nsp_profile_default.jpg' %}">
                                {% endif %}
                                <p>{{ message.msg_content }}</p>
                            </li>
                        {% else %}
                            <li class="replies">
                                {% if receiver_user_profile.photo %}
                                    <a href="{% url 'view_friend' receiver %}"><img
                                            src="{{ receiver_user_profile.photo.url }}"></a>
                                {% else %}
                                    <a href="{% url 'view_friend' receiver %}"><img
                                            src="{% static 'accounts/img/nsp_profile_default.jpg' %}"></a>
                                {% endif %}
                                <p>{{ message.msg_content }}</p>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="message-input">
                <div class="wrap">
                    <form method="POST" action="{% url 'newMessage' receiver %}"> {% csrf_token %}
                        <input style="font-size: 15px;" type="text" name="sender_message"
                               placeholder="Write your message..."/>
                        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                        <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>s
    <script type="text/javascript" src="{% static 'nspmessage/chatFriend.js' %}"></script>
    <!-- sourceURL=pen.js -->
    </script>
{% endblock body %}
</html>