{% load static %}
{% load notification_extras %}
<!DOCTYPE html>
<html lang="en">

<style type="text/css">
    body {
        margin-top: 50px;
        background-color: #f1f1f1;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #17A2B8;
    }

    .dropdown-menu {
        top: 60px;
        right: 0px;
        left: unset;
        width: 460px;
        box-shadow: 0px 5px 7px -1px #c1c1c1;
        padding-bottom: 0px;
        padding: 0px;
    }

    .dropdown-menu:before {
        content: "";
        position: absolute;
        top: -20px;
        right: 12px;
        border: 10px solid #343A40;
        border-color: transparent transparent #343A40 transparent;
    }

    .head {
        padding: 5px 15px;
        border-radius: 3px 3px 0px 0px;
    }

    .footer {
        padding: 5px 15px;
        border-radius: 0px 0px 3px 3px;
    }

    .notification-box {
        padding: 10px 0px;
    }

    .bg-gray {
        background-color: #eee;
    }

    @media (max-width: 640px) {
        .dropdown-menu {
            top: 50px;
            left: -16px;
            width: 290px;
        }

        .nav {
            display: block;
        }

        .nav .nav-item, .nav .nav-item a {
            padding-left: 0px;
        }

        .message {
            font-size: 13px;
        }
    }
</style>

<link>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="description" content="">
<meta name="author" content="">
{% block title %}
    <script src="{% static 'accounts/js/password_check.js' %}"></script>
    <title>NSP - Network of Skilled People</title>
{% endblock %}


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300%7CMontserrat:400,700%7CRaleway:400,200,300'
      rel='stylesheet' type='text/css'>

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
      type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
      integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<!-- Custom styles for this template -->
<link href="{% static 'accounts/css/nsp.css' %}" rel="stylesheet">
<link href="{% static 'accounts/css/landing-page.min.css' %}" rel="stylesheet">
<link rel="icon" href="../../static/accounts/img/assets/favicon.png" type="image/png">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300%7CMontserrat:400,700%7CRaleway:400,200,300'
      rel='stylesheet' type='text/css'>

{% block sadana %}
    <script type="text/javascript">
        if (top != self) {
            window.open(self.location.href, '_top');
        }
    </script>
    <link href="{% static 'accounts/css/plugins.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'accounts/css/theme.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'accounts/css/icon-fonts.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'accounts/css/custom.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'accounts/css/blue.css' %}" rel="stylesheet" type="text/css" media="all">
    <script src="{% static 'accounts/js/jquery.min.js' %}"></script>
    <script src="{% static 'accounts/js/plugins.js' %}"></script>
    <script src="{% static 'accounts/js/scripts.js' %}"></script>
    <script src="{% static 'accounts/js/bootstrap.min.js' %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block customcss %}
    <link href="{% static 'accounts/css/search_bar.css' %}" rel="stylesheet">
{% endblock %}
<nav class="navbar navbar-default dark">
    <div class="container">

        <div class="navbar-header">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed ham" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                <a class="navbar-brand logo-light" href="{% url 'home' %}" style="margin-top:-30px;"><img
                        src="{% static 'accounts/img/assets/logo-light.png' %}" alt="#"></a>
                <a class="navbar-brand logo-dark" href="{% url 'home' %}"><img
                        src="{% static 'accounts/img/assets/logo-dark.png' %}" alt="#"></a>
            </div>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <div class="container">
                <ul class="nav navbar-nav menu-right">
                    {% if user.is_authenticated %}

                        <li class=" "><a href="{% url 'view_profile' %}" class=" customhover">Profile</a>

                            <a href="{% url 'edit_profile' %}" class=" customhover">Edit Profile</a>
                            <a href="{% url 'chat' %}" class=" customhover">Chat</a>

                            <a href="{% url 'view_people' %}" class=" customhover">People</a>

                            <a href="{% url 'start_project' %}" class=" customhover">Start Project</a>
                            <a href="{% url 'project_list_view' %}" class=" customhover">Active Projects</a>

                            <a href="{% url 'logout' %}" class=" customhover">Log Out</a>

                        </li>
                    {% else %}

                        <li class=""><a href="{% url 'signup' %}" class=" customhover">Sign Up</a>
                            <a href="{% url 'user_login' %}" class=" customhover">Sign In</a>

                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" style="overflow-y: scroll; margin-right: 200px;"
                 id="navbarSupportedContent" style="display: unset !important;">
                <ul class="nav nav-pills mr-auto justify-content-end">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                        </a>Notifications
                        <ul class="dropdown-menu">
                            <li class="head text-light bg-dark">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-12">
                                        <span>Notifications{{getNotifcs}}</span>
                                        <a href="" class="float-right text-light">Mark all as read</a>
                                    </div>
                            </li>
                            {% for notification,profile in notifications|getNotifcs %}
                                {% if notification.user == request.user %}
                                    <li class="notification-box">

                                        {% if profile.photo %}
                                            <img src="{{ profile.photo.url }}"
                                                 class="col-lg-3 col-sm-8 col-8 w-50 rounded-circle">
                                        {% else %}
                                            <img src="{% static 'accounts/img/nsp_profile_default.jpg' %}"
                                                 class="col-lg-3 col-sm-8 col-8 w-50 rounded-circle">
                                        {% endif %}
                                        <div class="row">
                                            <a href="{% url 'view_friend' notification.from_user %}">
                                                <div class="col-lg-3 col-sm-3 col-3 text-center">
                                                </div>
                                                <div class="col-lg-8 col-sm-8 col-8">
                                                    <strong class="text-info">{{ notification.from_user }}</strong>
                                                    <div>
                                            </a><a href="{{ notification.redirect }}">
                                            {{ notification.text }}
                                        </div>
                                        </a>
                                        <small class="text-warning">{{ notification.date }} {{ notification.time }}</small>
                                    </div>
                                    </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
        <li class="footer bg-dark text-center">
            <a href="" class="text-light">View All</a>
        </li>
        </ul>
        </li>
        </ul>
        </div>
        {% endif %}
        </div>
</nav>


<body style="margin-top:50px;">
{% block body %}

    <!-- Masthead -->
    <section class="hero-fullscreen">
        <div class="hero-slider hero-parallax-fullscreen owl-carousel navigation-thin" style="margin-right:20px;">


            <div class="slide bg-fitness-2">
                <div class="hero-container container">
                    <div class="hero-content scroll-opacity">
                        <div class="appear container text-center fitness-hero">

                            <h4 style="color: white;font-weight:bold;">Think. Gather. Build.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Slide 2 -->

        </div>
    </section>
    <!-- Icons Grid -->
    <div class="site-wrapper" style="margin-bottom:-170px;padding-bottom: -20px;z-index:100;">

        <section class="pt100 pb100 bg-color">
            <div class="container">
                <div class="row" style="margin-top:-120px;">
                    <div class="col-md-12">

                        <div class="col-md-4 mb30 fitness-overlay" style="padding:0">
                            <a href="#" class="a-box box-hover">
                                <div class="box" style="padding-left:50px;opacity:.9;background:#f9f9f9;">
                                    <div class="text-left pt10 pb30">
                                        <h3 class="fitness-font700 mb0">Active Projects</h3>
                                        <h6 class="md-grey fitness-font400 mt0">Great for Collaborative Projects</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mb30 fitness-overlay" style="padding:0;">
                            <a href="#" class="a-box box-hover-featured">
                                <div class="box" style="padding-left:50px;opacity:.9;background:#f9f9f9;">
                                    <div class="text-left pt10 pb30">
                                        <h3 class="fitness-font700 mb0">Great Community</h3>
                                        <h6 class="md-grey fitness-font400 mt0">Extremely Fast Response Time</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mb30 fitness-overlay" style="padding:0">
                            <a href="#" class="a-box box-hover">
                                <div class="box" style="padding-left:50px;opacity:.9;background:#f9f9f9;">
                                    <div class="text-left pt10 pb30">
                                        <h3 class="fitness-font700 mb0">Get Experience</h3>
                                        <h6 class="md-grey fitness-font400 mt0">A Social Network with Benefits!</h6>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="site-wrapper" style="overflow: hidden;">

        <!-- Text Section -->
        <section class="pt100 pb100 bg-color">
            <div class="container">
                <div class="row mt60">
                    <div class="col-md-8 col-md-offset-2 text-left">
                        <h4 style="color:white;">A Dream</h4>
                        <p class="white">A website carved out of curiosity on how to get all the engineers from all the
                            streams under one umbrella and make them work together so as to come up with new ideas and
                            solve real world problems.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Text Section -->
        <section>
            <div class="pt100 pb100 bg-color" style="background:#111111">
                <div class="row mt60">
                    <div class="col-md-8 col-md-offset-2 text-right">
                        <h4 style="color:white;">Highly Ambitious</h4>
                        <p class="white">This website is going to be a community project for college students across
                            India. It is not just for getting you projects but also for students who want to get into
                            open source.</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="pt100 pb100 bg-color">
                <div class="row mt60">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h4 style="color:white;">Deployed using PythonAnywhere</h4>
                        <p class="white">NSP v1.2 is hosted at thensp.pythonanywhere.com

                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team 3 Columns Hover Style 3 -->
        <section class="pt100 pb100 bg-dark">
            <div class="container">
                <div class="row text-center">

                    <div class="col-md-12 text-center fitness-section-heading mb80">
                        <h4 class="white">Developers</h4>
                        <h6 class="md-grey mb15">Working for the development of coding culture.</h6>
                    </div>

                    <div class="col-md-3 col-sm-6 fitness-trainer">
                        <a href="#">
                            <div class="team-member">
                                <div class="team-member-image">
                                    <img src="../../static/accounts/img/rishi.jpg" class="img-responsive" alt="#"/>
                                    <div class="team-member-detail">
                                        <h3 class="white fitness-font700 mb0">Rishi Banerjee</h3>
                                        <h4 class="md-grey fitness-font400 mt0" style="font-size:18px;">Knows how to
                                            copy paste code.</h4>
                                        <h4 class="fitness-label" style="font-size:12px;">rshrc404@gmail.com</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 fitness-trainer trainer-featured">
                        <a href="#">
                            <div class="team-member">
                                <div class="team-member-image">
                                    <img src="../../static/accounts/img/pratik.jpg" class="img-responsive" alt="#"/>
                                    <div class="team-member-detail">
                                        <h3 class="white fitness-font700 mb0">Pratik Jain</h3>
                                        <h4 class="md-grey fitness-font400 mt0" style="font-size:18px;">Wanted to use
                                            Node.js, ended up doing it in Django</h4>
                                        <h4 class="fitness-label" style="font-size:12px;">pratikjain0411@gmail.com</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 fitness-trainer">
                        <a href="#">
                            <div class="team-member">
                                <div class="team-member-image">
                                    <img src="../../static/accounts/img/prachu.jpg" class="img-responsive" alt="#"/>
                                    <div class="team-member-detail">
                                        <h3 class="white fitness-font700 mb0">Prachal Goyal</h3>
                                        <h4 class="md-grey fitness-font400 mt0" style="font-size:18px;">I dont know what
                                            I am doing! Ajax?</h4>
                                        <h4 class="fitness-label" style="font-size:12px;">prachalgoyal03@gmail.com</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 fitness-trainer">
                        <a href="#">
                            <div class="team-member">
                                <div class="team-member-image">
                                    <img style="height: 60%;" src="../../static/accounts/img/gjerjgk.jpg"
                                         class="img-responsive" alt="#"/>
                                    <div class="team-member-detail">
                                        <h3 class="white fitness-font700 mb0">Gjergj Kadriu</h3>
                                        <h4 class="md-grey fitness-font400 mt0" style="font-size:18px;">Our friend from
                                            Kosova, a brilliant coder</h4>
                                        <h4 class=""><a href="https://github.com/gjergjk71">Check His Repos</a></h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>
        <section class="pt120 pb80 bg-fitness-3">
            <div class="container" style="background-attachment:fixed;">
                <div class="row">

                    <div class="col-md-12 text-center fitness-section-heading">
                        <h3 class="white" style="font-size:54px;">Around the World</h3>
                        <h5 class="md-grey mb15">People are talking</h5>
                    </div>

                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div id="owl-testimonials" class="owl-carousel light-pagination">

                            <!-- Testimonial 1 -->
                            <div class="testimonial-slide">
                                <h4 class="fitness-label"><span>Siddharth Jaidka</span></h4>
                                <h5 class="white"><span>The Creator of MUJ Files</span></h5>
                                <p class="fitness-font400 mb20">It is like a dream come true. Now students can show
                                    their skills and improve a lot! I am happy to see the coding culture in MUJ is
                                    growing so positively.</p>
                                <img src="../../static/accounts/img/assets/quotes.png" alt="#"
                                     class="img-responsive quote-logo">
                            </div>

                            <!-- Testimonial 2 -->
                            <div class="testimonial-slide">
                                <h4 class="fitness-label"><span>Tushar Sadana</span></h4>
                                <h5 class="white"><span>MUJ ACM SCHAP - Chair</span></h5>

                                <p class="fitness-font400 mb20">I believe the initiative taken was much required to
                                    improve the practical and industrial knowledge of students which a college fails to
                                    provide. Students here can contribute and learn. It feels so great to work for the
                                    betterment of people. </p>
                                <img src="../../static/accounts/img/assets/quotes.png" alt="#"
                                     class="img-responsive quote-logo">
                            </div>

                            <!-- Testimonial 3 -->
                            <div class="testimonial-slide">
                                <h4 class="fitness-label"><span>Anmol Garg</span></h4>
                                <h5 class="white"><span>MUJ ACM SCHAP - V. Chair</span></h5>

                                <p class="fitness-font400 mb20">NSP is a great platform to collaborate and work with
                                    like minded, tech-oriented peers to build and deploy newer technologies. A great
                                    initiative to help students gain ample experience in their respective fields.</p>
                                <img src="../../static/accounts/img/assets/quotes.png" alt="#"
                                     class="img-responsive quote-logo">
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Testimonials Slider -->

        <!-- Start Contact Form Section -->

        <!-- End Contact Form Section -->


        <!-- Google Map -->
        <!-- End Google Map -->
        <section>
            <div class="pt100 pb100 bg-color">

                <div class="row mt60">

                    <div class="col-md-10 col-md-offset-1 text-justify">
                        <h4 style="color:white;">About Us</h4>
                        <p class="white">We want development to be fun and add a competitive touch to it, and what can
                            be better than teaming up with the fellas of your own University?

                            We want to bring every talented engineers/students/developers who have immense potential but
                            do not have any project ideas to work on and get experienced in. Not just that, we also made
                            this website Open Source so that even developers/students can learn how things work at
                            Industrial level.<br><br>

                            Create your own projects, make a team, divide the workload and build exciting projects right
                            here at NSP - where ideas come to life!

                            Well, this website was never intended to be launched as it was just a learning project for
                            Pratik and Rishi. After days of Googling, Stackoverflow , Ctrl+C and Ctrl+V, this is the
                            best we could come up with.

                            Prachal, the sole Front-end Developer of the team sat hours understanding the templates he
                            copied, fortunately he did.<br>

                            Well later, Tushar Sadana Contributed to the Front end and the changed UI was loved by
                            everyone! <br><br>
                            This was our brief introduction. It's time for you to connect with the developers around the
                            globe and start working on your own projects. Your profile page will be your introduction to
                            the world, make sure to make it worth watching. </p>
                    </div>

                </div>


            </div>
        </section>

        <!-- Call to Action -->

        <section>
            <div class="pt100 pb100 bg-fitness-3">

                <div class="row mt60">

                    <div class="col-md-8 col-md-offset-2 text-right">
                        {% if user.is_authenticated %}
                            <h4 style="color:white;">Start a Project, Go!</h4>
                            <a href="{% url 'start_project' %}"><h4 class="fitness-label">Start</h4></a>
                        {% else %}
                            <h4 style="color:white;">Ready to take up a Project? Sign up now!</h4>
                            <a href="{% url 'signup' %}"><h4 class="fitness-label"> SIGN UP</h4></a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer-1" class="pt60 pb50">
            <div class="container">
                <div class="row">

                    <div class="col-md-8">
                        <h4 style="font-weight:normal; font-size:15px;">Initiative by MUJ ACM SCHAP collaboration with
                            Team NSP!</h4>
                        <p>We at MUJ ACM SCHAP believe that everyone should get a chance to prove themselves and
                            work!<br>
                            We thought why not let's just provide this opportunity to EVERYONE!</p>
                        <p><a href="#" target="_blank">© 2018 NSP · <img src="../../static/accounts/img/acm.png"
                                                                         style="max-height:20px" alt=""> · MIT License.
                            <br> </a>Made with love for great people. </p>
                    </div>


                    <div class="col-md-4">
                        <div class="subscription">
                            <h4></h4>


                            <ul class="menu-right nav navbar-nav">
                                <li class="dropdown megamenu"><a href="https://github.com/rshrc/NSP"
                                                                 class=" customhover" target="_blank">Github</a></li>

                                <p><br>NSP 1.2V</p>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../../static/accounts/js/plugins.js"></script>
    <script src="../../static/accounts/js/scripts.js"></script>
    <script src="../../static/accounts/js/jquery.min.js"></script>
{% endblock %}
</body>
</html>
