{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      {% block head %}
      <meta charset="UTF-8">
      <title></title>
      {% endblock %}


   </head>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style type="text/css">
      body{
        background-image: url({% static 'accounts/img/backgroundnsp.png' %});
          background-repeat: repeat;
          font-family: Montserrat;
          background-size: cover;

      }

      .form-group{
          padding-bottom: 5px;
      }
  </style>

   <body>
{#   <img src="{% static 'accounts/black.jpg' %}">#}
         <nav class="navbar navbar-inverse" style="color: white">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" style="padding: 15px; font-size: 30px;" href="/account" class="glyphicon glyphicon-home" >NSP</a>
               </div>
               <div id="navbar" class="navbar-collapse collapse">
                  <!-- THis is for logged in users -->
                  {% if user.is_authenticated %}
                  <ul class="nav navbar-nav">
                     <!-- Do not fucking forget the / -> the forward slash -->
{#                     <li><a href="/account" class="glyphicon glyphicon-home"></a></li>#}
                     <li><a href="/account/profile" class="glyphicon glyphicon-user"></a></li>
                     <li><a href="/account/profile/edit" class="glyphicon glyphicon-edit"></a></li>
{#                      <li><a href="/account/profile/edit_details">Edit Details</a> </li>#}

                     <form class="navbar-form navbar-right" role="search" method="post" action="/account/search/">
                        {% csrf_token %}
                        <div class="form-group">
                              <input type="text" placeholder="Search by Skill/Utility" name="srh" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-transparent" style="background-color: grey">
                            <span class="glyphicon glyphicon-search">
                            </span>
                        </button>
                     </form>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                     <!-- Do not fucking forget the / -> the forward slash -->
                     <li><a href="/account/change-password">Change Password</a></li>
                     <li><a href="/account/logout/" class="glyphicon glyphicon-off"></a></li>
                  </ul>
                  {% else %}
                      <div class="container-fluid">
                  <ul class="nav navbar-nav">
                     <!-- Do not fucking forget the / -> the forward slash -->

                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                     <!-- Do not fucking forget the / -> the forward slash -->
                     <li><a href="/account/signup" class="glyphicon glyphicon-pencil"></a></li>
                     <li><a href="/account/login" class="glyphicon glyphicon-off"></a></li>
                  </ul>
                      </div>
                  {% endif %}
               </div>
               <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
         </nav>
      <br>
      {% block body %}
      <h1 class="glyphicon glyphicon-home"> YOHO people</h1>
      {% endblock %}
   </body>
   <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>

