.ourTeam-box{
    border-radius:2px;
    border-top: 20px whitesmoke;
    margin:5px;
    background-color: mintcream;
    margin-bottom: 30px;
    size: 50px;
}
.section1{
    padding: 30px 0px 30px 0px;
}
.section1 img{
    border-radius:50%;
    height:130px;
    width: 130px;
}
.section2 p{
    font-weight: bold;
    color:aqua;
    letter-spacing:1px;
}
.section2 span{
    color:#979597;
}
.section2 label{
    background-color: aqua;
    padding: 8px 10px 8px 10px;
    color:#fff;
    font-weight: normal;
    margin: 30px 0px 35px 0px;
    border-radius: 2px;
}
.section3{
    background-color: antiquewhite;
}
.section3 i{
    color:#fff;
    padding:15px;
    font-size: 15px;
}

