._32hm{padding-bottom:0}._3q7s{display:block;margin:12px auto;text-align:center}
._fyy{background-color:#f6f7f9;border-bottom:1px solid #dddfe2;color:#90949c;font-family:Helvetica, Arial, sans-serif;font-size:11px;font-weight:500;padding:5px 12px}

#bootloader_brxni{height:42px;}.bootloader_brxni{display:block!important;}