.otherActive~._28r-{pointer-events:auto}
._agk{margin-right:3px;max-height:16px;max-width:16px;vertical-align:-2.9px}
.uiStreamSecondaryTime .img{bottom:-2px;position:relative;vertical-align:top}.withActorSelector .uiStreamSecondaryTime .img{margin-top:6px}

#bootloader_AAlfk{height:42px;}.bootloader_AAlfk{display:block!important;}