body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #E4E4E4;
}

.img-thumbnail{
	   height: 180px;
    width: 180px;
/*    border-radius: 50%;*/
/*    margin-top: 25px;*/
    margin-left: 140px;
    border-color: blue;

}
.username{
	margin-left: 160px;
	color: blue;
	letter-spacing: 1px;
}
.second{
	letter-spacing: 1px;
	color: blue;
}
.third{
	margin-left: 100px;
}

.move{
	margin-left: 35px;
}

.hidden-form {
	display: none;
}

#skill-form {
	padding: 10px 0 10px 0;
}

#skill {
	height: 70px;
}

#profile-pic-save {
	margin-top: 3.2em;
	display: none;
}

.delete-skill:hover {
	cursor: pointer;
}

#update-info-now {
	display: none;
	width: 90%;
	height: 75%;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	overflow: auto;
	background-color: #ffffff;
	box-shadow: 1px 2px 7px 2px#111111;
	margin: 20vh 0 0 5%;
	padding: 20px;
}

#modal-title {
	height: 20%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

#modal-title-1 {
	grid-row: 1;
	grid-column: 1 / 5;
}

.grided {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
}

#update-submit-button {
	margin: auto;
	grid-column: 5;
	grid-row: 2;
}

.skill-row {
	display: flex;
	flex-direction: row;
}

.skill-title {
	width: 80%;
}

.skill-delete-form {
	width: 20%;
}

#spinner-profile-pic {
	display: none;
	width: 10em;
}

#save-pic-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}